<div class="header">
    <div class="row header-top">
        <div class="col-2">
        </div>
        <div class="col">
            <a href="{{ path('app_vente') }}">
                <h1 class="Titre"> Car boutique.com </h1>
            </a>
            <div class="Nav">
                <div class="row Nav-bar">
                    <div class="col-md-3"><a href="{{ path('App_Recent') }}"
                                             class="Nav-bar-header btn-conexion">Recents</a></div>
                    <div class="col-md-3"><a href="{{ path('liste_Voitures') }}" class="Nav-bar-header btn-conexion">Annonce</a>
                    </div>
                    <div class="col-md-3"><a href="{{ path('vente_Categorie') }}" class="Nav-bar-header btn-conexion">Catégorie</a>
                    </div>
                    {% if app.user %}
                        <div class="col-md-3"><a href="{{ path('blog_create') }}" class="Nav-bar-header btn-conexion">Mise
                                en
                                ligne</a>
                        </div>
                    {% else %}
                        <div class="col-md-3"><a href="{{ path('app_login') }}" class="Nav-bar-header btn-conexion">Mise
                                en ligne</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-2 Page-User">
            <div class="row">
                <div class="col logo-pannier-search"><a href="{{ path('liste_Voitures') }}"><span
                                class="material-symbols-outlined">search</span></a>
                    <a href="{{ path('ListFav') }}"><span class="material-symbols-outlined favorite">favorite</span></a>
                </div>
            </div>
            <div class="col">{% if app.user %}
                    <a class="btn-conexion" href="{{ path('app_logout') }}">Déconnexion</a>
                    <br>
                    <a class="btn-conexion" href="{{ path('App_Profil') }}"> Mon compte</a>
                {% else %}
                    <a class="btn-conexion" href="{{ path('app_login') }}"> Connexion</a><br>
                    <a class="btn-conexion" href="{{ path('app_register') }}"> Inscription</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn-conexion" href="{{ path('App_Admin') }}"> Admin</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

